<app-export-dialog
  [(visible)]="confirmExportVisible"
  [(items)]="taskServers"
  [itemIcon]="PrimeIcons.SERVER"
  (onConfirm)="confirmExportServers($event)"
  headerLabel="Choose servers export format"
  itemField="alias"
/>

<p-dialog
  [(visible)]="addServerVisible"
  [draggable]="false"
  [resizable]="false"
  (onHide)="cancelAddServer()"
  dismissableMask
  modal
>
  <ng-template pTemplate="header">
    <app-icon-label
      [icon]="PrimeIcons.FOLDER_PLUS"
      label="Add new server"
      deepClass="p-dialog-title"
    />
  </ng-template>

  <ng-template pTemplate="content">
    <p-card #add>
      <div class="container flex-column">
        <p-inputGroup>
          <p-inputGroupAddon>Server</p-inputGroupAddon>
          <input [(ngModel)]="addServerPartial.alias" pInputText />
        </p-inputGroup>

        <p-inputGroup>
          <p-inputGroupAddon>Scheme</p-inputGroupAddon>
          <p-selectButton
            [(ngModel)]="addServerPartial.scheme"
            [options]="schemeOptions"
            [allowEmpty]="false"
            optionLabel="label"
            optionValue="value"
          />
        </p-inputGroup>

        <p-inputGroup>
          <p-inputGroupAddon>Host</p-inputGroupAddon>
          <input [(ngModel)]="addServerPartial.hostname" pInputText placeholder="localhost" />
        </p-inputGroup>

        <p-inputGroup>
          <p-inputGroupAddon>Port</p-inputGroupAddon>
          <p-inputNumber
            [(ngModel)]="addServerPartial.port"
            [min]="1"
            [max]="65535"
            [useGrouping]="false"
            placeholder="3000"
          />
        </p-inputGroup>
      </div>
    </p-card>

    <p-blockUI [blocked]="!task.closed && taskType === TaskType.Create" [target]="add">
      <p-progressSpinner />
    </p-blockUI>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      [icon]="PrimeIcons.SAVE"
      [disabled]="addServerPartial.alias!.length === 0"
      [loading]="!task.closed && taskType === TaskType.Create"
      (onClick)="saveAddServer()"
      label="Save"
      severity="success"
    />
  </ng-template>
</p-dialog>

<app-confirm-dialog
  [(items)]="taskServers"
  [headerIcon]="PrimeIcons.TIMES_CIRCLE"
  [itemIcon]="PrimeIcons.SERVER"
  key="delete"
  headerLabel="Confirm servers delete"
  itemField="alias"
/>

<p-contextMenu #context [model]="contextMenu" />

<p-table
  [(selection)]="selectedServers"
  [(contextMenuSelection)]="contextServer"
  [sortOrder]="1"
  [contextMenu]="context"
  [value]="servers"
  scrollable
  dataKey="alias"
  scrollHeight="flex"
  sortField="alias"
  styleClass="p-datatable-gridlines p-datatable-striped"
>
  <ng-template pTemplate="caption">
    <p-toolbar styleClass="border-noround-bottom">
      <ng-template pTemplate="left">
        <div class="container">
          <p-fileUpload
            [chooseIcon]="PrimeIcons.DOWNLOAD"
            (uploadHandler)="handleImportServers($event)"
            auto
            customUpload
            accept=".csv,.json"
            chooseLabel="Import"
            mode="basic"
          />
          <p-splitButton
            [buttonDisabled]="!selectedServers.length"
            [icon]="PrimeIcons.UPLOAD"
            [model]="exportMenu"
            (onClick)="chooseExportServers(ActionType.Select)"
            label="Export"
            severity="help"
          />
        </div>
      </ng-template>

      <ng-template pTemplate="center">
        <app-icon-label [icon]="PrimeIcons.BOX" label="Angmin" deepClass="header" />
      </ng-template>

      <ng-template pTemplate="right">
        <div class="container">
          <p-button
            [icon]="PrimeIcons.PLUS"
            (onClick)="initAddServer()"
            label="Add"
            severity="success"
          />
          <p-splitButton
            [buttonDisabled]="!selectedServers.length"
            [icon]="PrimeIcons.TRASH"
            [model]="deleteMenu"
            (onClick)="confirmDeleteServers(ActionType.Select)"
            label="Delete"
            severity="danger"
          />
          <p-splitButton [icon]="PrimeIcons.CLONE" disabled label="Clone" severity="info" />
        </div>
      </ng-template>
    </p-toolbar>

    <p-toolbar styleClass="border-noround-top">
      <ng-template pTemplate="left">
        <app-page-control
          [backDisabled]="true"
          [refreshOutlined]="true"
          (onRefresh)="refreshServers()"
        />
      </ng-template>

      <ng-template pTemplate="right">
        <div class="container">
          <p-inputGroup>
            <p-inputGroupAddon>
              <app-icon-label [icon]="PrimeIcons.SEARCH" />
            </p-inputGroupAddon>
            <input
              #search
              (input)="filterTable(search.value)"
              pInputText
              placeholder="Search servers..."
              type="text"
            />
            <button
              [disabled]="!search.value"
              [icon]="PrimeIcons.TIMES"
              (click)="clearSearch()"
              pButton
              severity="danger"
              type="button"
            ></button>
          </p-inputGroup>
          <p-button
            [icon]="PrimeIcons.FILTER_SLASH"
            (onClick)="resetTable()"
            outlined
            label="Clear"
          />
        </div>
      </ng-template>
    </p-toolbar>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th class="w-1rem" pFrozenColumn>
        <p-tableHeaderCheckbox />
      </th>
      <th pFrozenColumn pSortableColumn="alias">
        <app-icon-table-header [icon]="PrimeIcons.SERVER" label="Server" sortField="alias" />
      </th>
      <th>
        <app-icon-table-header [icon]="PrimeIcons.UNLOCK" label="Scheme" />
      </th>
      <th>
        <app-icon-table-header [icon]="PrimeIcons.MAP" label="Host" />
      </th>
      <th class="w-1rem">
        <app-icon-table-header [icon]="PrimeIcons.DIRECTIONS" label="Port" />
      </th>
    </tr>
  </ng-template>

  <ng-template let-item pTemplate="body">
    <tr [pContextMenuRow]="item" [pSelectableRow]="item">
      <td pFrozenColumn>
        <p-tableCheckbox [value]="item" />
      </td>
      <td pFrozenColumn>
        <p-button [label]="item.alias" [routerLink]="item.alias" link styleClass="py-0" />
      </td>
      <td>
        @if (item.scheme === Scheme.HTTP) {
          <p-tag [icon]="PrimeIcons.LOCK_OPEN" value="HTTP" severity="danger" />
        } @else {
          <p-tag [icon]="PrimeIcons.LOCK" value="HTTPS" severity="success" />
        }
      </td>
      <td>
        {{ item.hostname }}
      </td>
      <td>
        {{ item.port }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="100%">
        <app-icon-label
          class="m-auto block w-fit"
          [icon]="PrimeIcons.SEARCH_MINUS"
          label="No servers"
          deepClass="header"
        />
      </td>
    </tr>
  </ng-template>
</p-table>
