<app-error-dialog
  [error]="lastError"
  [server]="server()"
  [item]="item()"
  [datum]="datum()"
  (onRefresh)="refreshValue()"
/>

<app-confirm-dialog
  [items]="[value]"
  [headerIcon]="PrimeIcons.TIMES_CIRCLE"
  [itemIcon]="PrimeIcons.FILE"
  key="delete"
  headerLabel="Confirm document delete"
  itemField="id"
/>

<app-confirm-dialog
  [items]="[value]"
  [headerIcon]="PrimeIcons.CHECK_CIRCLE"
  [itemIcon]="PrimeIcons.FILE"
  key="update"
  headerLabel="Confirm document save"
  itemField="id"
/>

<app-progress-dialog
  [item]="item()"
  [server]="server()"
  [datum]="datum()"
  [progressIcon]="PrimeIcons.TRASH"
  [visible]="!task.closed && taskType === TaskType.Delete"
  (onCancel)="cancelDeleteValue()"
  headerLabel="Deleting document..."
/>

<app-progress-dialog
  [cancelDisabled]="!lastRefresh"
  [headerIcon]="PrimeIcons.SPINNER"
  [item]="item()"
  [server]="server()"
  [datum]="datum()"
  [visible]="!task.closed && taskType === TaskType.Read"
  (onCancel)="cancelRefreshValue()"
  headerLabel="Loading document..."
/>

<app-progress-dialog
  [datum]="datum()"
  [item]="item()"
  [server]="server()"
  [visible]="!task.closed && taskType === TaskType.Update"
  (onCancel)="cancelSaveValue()"
  headerLabel="Saving document..."
/>

<p-panel class="h-full block" styleClass="flex flex-column h-full">
  <ng-template pTemplate="header">
    <div class="flex flex-column w-full">
      <p-toolbar styleClass="border-noround-bottom">
        <ng-template pTemplate="left">
          <div class="container">
            <p-fileUpload
              [chooseIcon]="PrimeIcons.DOWNLOAD"
              auto
              customUpload
              accept=".csv,.json"
              chooseLabel="Import"
              mode="basic"
            />
            <p-button [icon]="PrimeIcons.UPLOAD" disabled label="Export" severity="help" />
          </div>
        </ng-template>

        <ng-template pTemplate="center">
          <app-icon-label
            class="text-color-secondary"
            [icon]="PrimeIcons.FILE"
            label="Document: {{ datum() }}"
            deepClass="header"
          />
        </ng-template>

        <ng-template pTemplate="right">
          <div class="container">
            <p-button
              [icon]="PrimeIcons.TRASH"
              (onClick)="confirmDeleteValue()"
              label="Delete"
              severity="danger"
            />
            <p-button
              [icon]="PrimeIcons.SAVE"
              [disabled]="editorInvalid"
              (onClick)="confirmSaveValue()"
              label="Save"
              severity="success"
            />
          </div>
        </ng-template>
      </p-toolbar>

      <p-toolbar styleClass="border-noround-top">
        <ng-template pTemplate="start">
          <app-page-control
            [lastRefresh]="lastRefresh"
            [refreshOutlined]="true"
            (onRefresh)="refreshValue()"
          />
        </ng-template>

        <ng-template pTemplate="end">
          <p-selectButton
            [(ngModel)]="editorHidden"
            [allowEmpty]="false"
            [disabled]="editorInvalid"
            [options]="editOptions"
            (onChange)="tabChange()"
            dataKey="label"
            optionLabel="label"
            optionValue="value"
          ></p-selectButton>
        </ng-template>
      </p-toolbar>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="flex-column h-full" [class.hidden]="!editorHidden" [class.flex]="editorHidden">
      <p-toolbar styleClass="border-noround-bottom">
        <ng-template pTemplate="start">
          <div class="container">
            <p-button
              [icon]="PrimeIcons.PLUS"
              (onClick)="this.treeTableComponent().expandAll()"
              label="Expand all"
            />
            <p-button
              [icon]="PrimeIcons.MINUS"
              (onClick)="this.treeTableComponent().collapseAll()"
              label="Collapse all"
            />
          </div>
        </ng-template>

        <ng-template pTemplate="end">
          <div class="container">
            <p-button [icon]="PrimeIcons.COPY" label="Clone" severity="info" disabled />
            <p-button
              [icon]="PrimeIcons.ERASER"
              (onClick)="clearTable()"
              label="Clear"
              severity="danger"
            />
          </div>
        </ng-template>
      </p-toolbar>
      <app-tree-table class="flex-content" [columns]="columns" />
    </div>

    <div class="flex-column h-full" [class.hidden]="editorHidden" [class.flex]="!editorHidden">
      <p-toolbar styleClass="border-noround-bottom">
        <ng-template pTemplate="start">
          <div class="container">
            <p-selectButton
              [(ngModel)]="extensions"
              [allowEmpty]="false"
              [options]="setups"
              dataKey="setup"
              optionLabel="setup"
              optionValue="extensions"
            />
            <p-toggleButton
              [(ngModel)]="highlightWhitespace"
              [offIcon]="PrimeIcons.EYE_SLASH"
              [onIcon]="PrimeIcons.EYE"
              offLabel="Whitespace"
              onLabel="Whitespace"
            />
          </div>
        </ng-template>

        <ng-template pTemplate="end">
          <div class="container">
            <p-button
              [icon]="PrimeIcons.WRENCH"
              (onClick)="repairEditor()"
              label="Repair"
              severity="warning"
            />
            <p-button
              [icon]="PrimeIcons.SPARKLES"
              (onClick)="formatEditor()"
              label="Format"
              severity="help"
            />
            <p-button
              [icon]="PrimeIcons.ERASER"
              (onClick)="clearEditor()"
              label="Clear"
              severity="danger"
            />
          </div>
        </ng-template>
      </p-toolbar>

      <code-editor
        class="flex-content border-1 border-top-none"
        [(ngModel)]="json"
        [extensions]="extensions"
        [highlightWhitespace]="highlightWhitespace"
        [setup]="null"
        (change)="editorInvalid = false"
        (blur)="validateEditor()"
      />
    </div>
  </ng-template>
</p-panel>
