<app-error-dialog
  [error]="lastError"
  [server]="server()"
  [item]="item()"
  (onRefresh)="refreshData()"
/>

<p-dialog
  [(visible)]="chooseExportVisible"
  [draggable]="false"
  [resizable]="false"
  dismissableMask
  modal
  styleClass="w-6"
>
  <ng-template pTemplate="header">
    <app-icon-label
      [icon]="PrimeIcons.FILE_EXPORT"
      label="Choose documents export format"
      deepClass="p-dialog-title"
    />
  </ng-template>

  <ng-template pTemplate="content">
    <div class="container">
      <p-chips
        class="w-full"
        [(ngModel)]="taskData"
        [disabled]="taskData.length === 1"
        (onFocus)="removeChipsInput($event)"
        autofocus
        styleClass="w-full"
      >
        <ng-template let-datum pTemplate="item">
          <app-icon-label [icon]="PrimeIcons.FILE" [label]="datum.id" />
        </ng-template>
      </p-chips>
      <!-- TODO: empty exportData -->
      <!-- embed? -->
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      (onClick)="chosenExportData(ExportType.JSON)"
      badge="{;}"
      label="JSON"
      severity="primary"
    />
    <p-button
      (onClick)="chosenExportData(ExportType.CSV)"
      outlined
      badge="{,}"
      label="CSV"
      severity="secondary"
    />
  </ng-template>
</p-dialog>

<app-confirm-dialog
  [(items)]="taskData"
  [headerIcon]="PrimeIcons.TIMES_CIRCLE"
  [itemIcon]="PrimeIcons.FILE"
  key="delete"
  headerLabel="Confirm documents delete"
  itemField="id"
/>

<app-progress-dialog
  [cancelDisabled]="!lastRefresh"
  [headerIcon]="PrimeIcons.SPINNER"
  [item]="item()"
  [server]="server()"
  [visible]="!task.closed && taskType === TaskType.Read"
  (onCancel)="cancelRefreshData()"
  headerLabel="Loading documents..."
/>

<app-progress-dialog
  [datum]="taskDatum"
  [item]="item()"
  [progress]="taskCurrent"
  [progressIcon]="PrimeIcons.TRASH"
  [progressMax]="taskMax"
  [server]="server()"
  [visible]="!task.closed && taskType === TaskType.Delete"
  (onCancel)="cancelDeleteData()"
  headerLabel="Deleting documents..."
/>

<app-progress-dialog
  [item]="item()"
  [server]="server()"
  [visible]="!task.closed && taskType === TaskType.Update"
  (onCancel)="cancelEditData()"
  headerLabel="Editing document..."
/>

<p-contextMenu #context [model]="contextMenu" />

<p-table
  [(contextMenuSelection)]="contextDatum"
  [(selection)]="selectedData"
  [columns]="selectedColumns?.length ? selectedColumns : columns"
  [contextMenu]="context"
  [rowsPerPageOptions]="[10, 25, 50, 100]"
  [rows]="10"
  [totalRecords]="paginatedData.items"
  [value]="paginatedData.data"
  (onLazyLoad)="refreshData()"
  lazy
  paginator
  scrollable
  showJumpToPageDropdown
  dataKey="id"
  editMode="row"
  scrollHeight="flex"
  sortMode="multiple"
  styleClass="p-datatable-gridlines p-datatable-striped"
>
  <ng-template pTemplate="caption">
    <p-toolbar styleClass="border-noround-bottom">
      <ng-template pTemplate="left">
        <div class="container">
          <p-fileUpload
            [chooseIcon]="PrimeIcons.DOWNLOAD"
            (uploadHandler)="handleImportData($event)"
            auto
            customUpload
            accept=".csv,.json"
            chooseLabel="Import"
            mode="basic"
          />
          <p-splitButton
            [buttonDisabled]="!selectedData.length"
            [icon]="PrimeIcons.UPLOAD"
            [model]="exportMenu"
            (onClick)="chooseExportData(ActionType.Select)"
            label="Export"
            severity="help"
          />
        </div>
      </ng-template>

      <ng-template pTemplate="center">
        <app-icon-label
          [icon]="PrimeIcons.TABLE"
          label="Collection: {{ item() }}"
          deepClass="header"
        />
      </ng-template>

      <ng-template pTemplate="right">
        <div class="container">
          <p-button [icon]="PrimeIcons.PLUS" disabled label="Add" severity="success" />
          <p-splitButton
            [buttonDisabled]="!selectedData.length"
            [icon]="PrimeIcons.TRASH"
            [model]="deleteMenu"
            (onClick)="confirmDeleteData(ActionType.Select)"
            label="Delete"
            severity="danger"
          />
          <p-splitButton [icon]="PrimeIcons.CLONE" disabled label="Clone" severity="info" />
        </div>
      </ng-template>
    </p-toolbar>

    <p-toolbar styleClass="border-noround-top">
      <ng-template pTemplate="left">
        <app-page-control
          [lastRefresh]="lastRefresh"
          [refreshOutlined]="true"
          (onRefresh)="refreshData()"
        />
      </ng-template>

      <ng-template pTemplate="right">
        <div class="container">
          <p-multiSelect
            [(ngModel)]="selectedColumns"
            [options]="columns"
            showClear
            styleClass="w-20rem"
            display="chip"
            placeholder="Select fields..."
          />
          <p-button
            [icon]="PrimeIcons.FILTER_SLASH"
            (onClick)="resetTable()"
            outlined
            label="Clear"
          />
        </div>
      </ng-template>
    </p-toolbar>
  </ng-template>

  <ng-template let-columns pTemplate="header">
    <tr>
      <th class="w-1rem" pFrozenColumn>
        <p-tableHeaderCheckbox />
      </th>
      <th pFrozenColumn pSortableColumn="id">
        <div class="container align-items-center">
          <app-icon-table-header [icon]="PrimeIcons.FILE" label="id" sortField="id" />
          <p-columnFilter
            [showOperator]="false"
            [showAddButton]="false"
            [matchMode]="FilterMatchMode.EQUALS"
            [matchModeOptions]="stringMatchModeOptions"
            placeholder="Search id..."
            field="id"
            display="menu"
          />
        </div>
      </th>
      @for (column of columns; track column) {
        <th [pSortableColumn]="column">
          <div class="container align-items-center">
            <app-icon-table-header
              class="w-min"
              [icon]="foreignColumns.has(column) ? PrimeIcons.KEY : PrimeIcons.LIST"
              [label]="column"
              [sortField]="column"
            />
            <p-columnFilter
              [field]="column"
              [matchMode]="FilterMatchMode.EQUALS"
              [matchModeOptions]="foreignColumns.has(column) ? stringMatchModeOptions : undefined"
              [showOperator]="false"
              [showAddButton]="false"
              placeholder="Search {{ column }}..."
              display="menu"
            />
          </div>
        </th>
      }
      <th alignFrozen="right" pFrozenColumn>
        <app-icon-table-header class="w-7rem" [icon]="PrimeIcons.FILE_EDIT" label="Edit" />
      </th>
    </tr>
  </ng-template>

  <ng-template let-columns="columns" let-datum let-editing="editing" pTemplate="body">
    <tr [pContextMenuRow]="datum" [pEditableRow]="datum" [pSelectableRow]="datum">
      <td pFrozenColumn>
        <p-tableCheckbox [value]="datum" />
      </td>
      <td pFrozenColumn>
        <p-button [label]="datum.id" [routerLink]="datum.id" link />
      </td>
      @for (column of columns; track column) {
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div class="flex flex-column align-items-center">
                @switch (datum[column] | type) {
                  @case (ColumnType.Undefined) {
                    <input class="min-w-full" ngModel="undefined" disabled pInputText type="text" />
                  }
                  @case (ColumnType.Null) {
                    <input class="min-w-full" ngModel="null" disabled pInputText type="text" />
                  }
                  @case (ColumnType.Boolean) {
                    <p-inputSwitch [(ngModel)]="datum[column]" />
                  }
                  @case (ColumnType.Number) {
                    <p-inputNumber
                      [(ngModel)]="datum[column]"
                      [allowEmpty]="false"
                      [maxFractionDigits]="20"
                      [useGrouping]="false"
                      (keydown.home)="$event.stopPropagation()"
                      (keydown.end)="$event.stopPropagation()"
                      showButtons
                    />
                  }
                  @case (ColumnType.String) {
                    <input
                      class="min-w-full"
                      [(ngModel)]="datum[column]"
                      (keydown.home)="$event.stopPropagation()"
                      (keydown.end)="$event.stopPropagation()"
                      pInputText
                      type="text"
                    />
                  }
                  @default {
                    <input
                      class="min-w-full"
                      [ngModel]="datum[column] | string"
                      disabled
                      pInputText
                      type="text"
                    />
                  }
                }
              </div>
            </ng-template>

            <ng-template pTemplate="output">
              @switch (datum[column] | type) {
                @case (Type.Undefined) {
                  <p-tag
                    [icon]="PrimeIcons.QUESTION_CIRCLE"
                    value="undefined"
                    severity="secondary"
                  />
                }
                @case (Type.Null) {
                  <p-tag [icon]="PrimeIcons.BAN" value="null" severity="warning" />
                }
                @case (Type.Boolean) {
                  @if (datum[column]) {
                    <p-tag [icon]="PrimeIcons.CHECK_CIRCLE" value="true" severity="success" />
                  } @else {
                    <p-tag [icon]="PrimeIcons.TIMES_CIRCLE" value="false" severity="danger" />
                  }
                }
                @case (Type.Array) {
                  <p-tag
                    class="w-full max-w-min block"
                    [icon]="PrimeIcons.MINUS_CIRCLE"
                    [value]="datum[column] | string"
                    severity="info"
                    styleClass="w-full"
                  />
                }
                @case (Type.Object) {
                  <p-tag
                    class="w-full max-w-min block"
                    [icon]="PrimeIcons.PLUS_CIRCLE"
                    [value]="datum[column] | string"
                    severity="info"
                    styleClass="w-full"
                  />
                }
                @default {
                  @if (foreignColumns.has(column)) {
                    <p-button
                      [label]="datum[column]"
                      [routerLink]="['../', foreignColumns.get(column), datum[column]]"
                      link
                    />
                  } @else {
                    {{ datum[column] | string }}
                  }
                }
              }
            </ng-template>
          </p-cellEditor>
        </td>
      }
      <td class="w-7rem" alignFrozen="right" pFrozenColumn>
        <div class="container justify-content-center">
          @if (editing) {
            <p-button
              [icon]="PrimeIcons.CHECK"
              (onClick)="saveEditDatum(datum)"
              pSaveEditableRow
              severity="success"
              rounded
            />
            <p-button
              [icon]="PrimeIcons.TIMES"
              (onClick)="cancelEditDatum(datum)"
              pCancelEditableRow
              severity="danger"
              rounded
            />
          } @else {
            <p-button
              [icon]="PrimeIcons.PENCIL"
              (onClick)="initEditDatum(datum)"
              pInitEditableRow
              severity="warning"
              rounded
            />
          }
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="100%">
        <app-icon-label
          class="m-auto block w-fit"
          [icon]="PrimeIcons.SEARCH_MINUS"
          label="No documents"
          deepClass="header"
        />
      </td>
    </tr>
  </ng-template>
</p-table>
