<app-error-dialog
  [error]="lastError"
  [server]="server()"
  [item]="item()"
  (onRefresh)="refreshData()"
/>

<p-dialog
  [(visible)]="chooseExportVisible"
  [dismissableMask]="true"
  [draggable]="false"
  [modal]="true"
  [resizable]="false"
  styleClass="w-6"
>
  <ng-template pTemplate="header">
    <app-icon-label
      [icon]="PrimeIcons.FILE_EXPORT"
      label="Choose documents export format"
      deepClass="p-dialog-title"
    />
  </ng-template>

  <ng-template pTemplate="content">
    <div class="container">
      <p-chips
        class="w-full"
        [(ngModel)]="taskData"
        [autofocus]="true"
        [disabled]="taskData.length === 1"
        (onFocus)="removeChipsInput($event)"
        styleClass="w-full"
      >
        <ng-template let-datum pTemplate="item">
          <app-icon-label [icon]="PrimeIcons.FILE" [label]="datum.id" />
        </ng-template>
      </p-chips>
      <!-- TODO: empty exportData -->
      <!-- embed? -->
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      (onClick)="chosenExportData(ExportType.JSON)"
      badge="{;}"
      label="JSON"
      severity="primary"
    />
    <p-button
      [outlined]="true"
      (onClick)="chosenExportData(ExportType.CSV)"
      badge="{,}"
      label="CSV"
      severity="secondary"
    />
  </ng-template>
</p-dialog>

<app-confirm-dialog
  [(items)]="taskData"
  [headerIcon]="PrimeIcons.TIMES_CIRCLE"
  [itemIcon]="PrimeIcons.FILE"
  key="delete"
  headerLabel="Confirm documents delete"
  itemField="id"
/>

<app-progress-dialog
  [cancelDisabled]="!lastRefresh"
  [headerIcon]="PrimeIcons.SPINNER"
  [item]="item()"
  [server]="server()"
  [visible]="!task.closed && taskType === TaskType.Read"
  (onCancel)="cancelRefreshData()"
  headerLabel="Loading documents..."
/>

<app-progress-dialog
  [datum]="taskDatum"
  [item]="item()"
  [progress]="taskCurrent"
  [progressIcon]="PrimeIcons.TRASH"
  [progressMax]="taskMax"
  [server]="server()"
  [visible]="!task.closed && taskType === TaskType.Delete"
  (onCancel)="cancelDeleteData()"
  headerLabel="Deleting documents..."
/>

<app-progress-dialog
  [item]="item()"
  [server]="server()"
  [visible]="!task.closed && taskType === TaskType.Update"
  (onCancel)="cancelEditData()"
  headerLabel="Editing document..."
/>

<p-contextMenu #context [model]="contextMenu" />

<p-table
  [(contextMenuSelection)]="contextDatum"
  [(selection)]="selectedData"
  [columns]="selectedColumns?.length ? selectedColumns : columns"
  [contextMenu]="context"
  [lazy]="true"
  [paginator]="true"
  [rowsPerPageOptions]="[10, 25, 50, 100]"
  [rows]="10"
  [scrollable]="true"
  [showJumpToPageDropdown]="true"
  [totalRecords]="paginatedData.items"
  [value]="paginatedData.data"
  (onLazyLoad)="refreshData()"
  dataKey="id"
  editMode="row"
  scrollHeight="flex"
  sortMode="multiple"
  styleClass="p-datatable-gridlines p-datatable-striped"
>
  <ng-template pTemplate="caption">
    <p-toolbar styleClass="border-noround-bottom">
      <ng-template pTemplate="left">
        <div class="container">
          <p-fileUpload
            [auto]="true"
            [chooseIcon]="PrimeIcons.DOWNLOAD"
            [customUpload]="true"
            (uploadHandler)="handleImportData($event)"
            accept=".csv,.json"
            chooseLabel="Import"
            mode="basic"
          />
          <p-splitButton
            [buttonDisabled]="!selectedData.length"
            [icon]="PrimeIcons.UPLOAD"
            [model]="exportMenu"
            (onClick)="chooseExportData(ActionType.Selection)"
            label="Export"
            severity="help"
          />
        </div>
      </ng-template>

      <ng-template pTemplate="center">
        <app-icon-label
          [icon]="PrimeIcons.TABLE"
          label="Collection: {{ item() }}"
          deepClass="header"
        />
      </ng-template>

      <ng-template pTemplate="right">
        <div class="container">
          <p-button [disabled]="true" [icon]="PrimeIcons.PLUS" label="Add" severity="success" />
          <p-splitButton
            [buttonDisabled]="!selectedData.length"
            [icon]="PrimeIcons.TRASH"
            [model]="deleteMenu"
            (onClick)="confirmDeleteData(ActionType.Selection)"
            label="Delete"
            severity="danger"
          />
          <p-splitButton
            [disabled]="true"
            [icon]="PrimeIcons.CLONE"
            label="Clone"
            severity="info"
          />
        </div>
      </ng-template>
    </p-toolbar>

    <p-toolbar styleClass="border-noround-top">
      <ng-template pTemplate="left">
        <app-page-control
          [lastRefresh]="lastRefresh"
          [refreshOutlined]="true"
          (onRefresh)="refreshData()"
        />
      </ng-template>

      <ng-template pTemplate="right">
        <div class="container">
          <p-multiSelect
            [(ngModel)]="selectedColumns"
            [options]="columns"
            [showClear]="true"
            styleClass="w-20rem"
            display="chip"
            placeholder="Select fields..."
          />
          <p-button
            [icon]="PrimeIcons.FILTER_SLASH"
            [outlined]="true"
            (onClick)="resetTable()"
            label="Clear"
          />
        </div>
      </ng-template>
    </p-toolbar>
  </ng-template>

  <ng-template let-columns pTemplate="header">
    <tr>
      <th class="w-1rem" pFrozenColumn>
        <p-tableHeaderCheckbox />
      </th>
      <th pFrozenColumn pSortableColumn="id">
        <app-icon-table-header [icon]="PrimeIcons.FILE" label="id" sortField="id" />
      </th>
      @for (column of columns; track column) {
        <th [pSortableColumn]="column">
          <app-icon-table-header
            [icon]="foreignColumns.has(column) ? PrimeIcons.KEY : PrimeIcons.LIST"
            [label]="column"
            [sortField]="column"
          />
        </th>
      }
      <th alignFrozen="right" pFrozenColumn>
        <app-icon-table-header class="w-7rem" [icon]="PrimeIcons.FILE_EDIT" label="Edit" />
      </th>
    </tr>
  </ng-template>

  <ng-template let-columns="columns" let-datum let-editing="editing" pTemplate="body">
    <tr [pContextMenuRow]="datum" [pEditableRow]="datum" [pSelectableRow]="datum">
      <td pFrozenColumn>
        <p-tableCheckbox [value]="datum" />
      </td>
      <td pFrozenColumn>
        <p-button [label]="datum.id" [link]="true" [routerLink]="datum.id" />
      </td>
      @for (column of columns; track column) {
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div class="flex flex-column align-items-center">
                @switch (datum[column] | type) {
                  @case (ColumnType.Undefined) {}
                  @case (ColumnType.Null) {
                    <p-checkbox [disabled]="true" />
                  }
                  @case (ColumnType.Boolean) {
                    <p-inputSwitch [(ngModel)]="datum[column]" />
                  }
                  @case (ColumnType.Number) {
                    <p-inputNumber
                      [(ngModel)]="datum[column]"
                      [allowEmpty]="false"
                      [maxFractionDigits]="20"
                      [showButtons]="true"
                      [useGrouping]="false"
                      (keydown.home)="$event.stopPropagation()"
                      (keydown.end)="$event.stopPropagation()"
                    />
                  }
                  @case (ColumnType.String) {
                    <input
                      class="min-w-full"
                      [(ngModel)]="datum[column]"
                      (keydown.home)="$event.stopPropagation()"
                      (keydown.end)="$event.stopPropagation()"
                      pInputText
                      type="text"
                    />
                  }
                  @default {
                    <input
                      class="min-w-full"
                      [ngModel]="datum[column] | string"
                      [disabled]="true"
                      pInputText
                      type="text"
                    />
                  }
                }
              </div>
            </ng-template>

            <ng-template pTemplate="output">
              @if (foreignColumns.has(column)) {
                <p-button
                  [label]="datum[column]"
                  [link]="true"
                  [routerLink]="['../', foreignColumns.get(column), datum[column]]"
                />
              } @else {
                {{ datum[column] | string }}
              }
            </ng-template>
          </p-cellEditor>
        </td>
      }
      <td class="w-7rem" alignFrozen="right" pFrozenColumn>
        <div class="container justify-content-center">
          @if (editing) {
            <p-button
              [icon]="PrimeIcons.CHECK"
              (onClick)="saveEditDatum(datum)"
              pSaveEditableRow
              severity="success"
            />
            <p-button
              [icon]="PrimeIcons.TIMES"
              (onClick)="cancelEditDatum(datum)"
              pCancelEditableRow
              severity="danger"
            />
          } @else {
            <p-button
              [icon]="PrimeIcons.PENCIL"
              (onClick)="initEditDatum(datum)"
              pInitEditableRow
              severity="warning"
            />
          }
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="100%">
        <app-icon-label
          class="m-auto block w-fit"
          [icon]="PrimeIcons.SEARCH_MINUS"
          label="No documents"
          deepClass="header"
        />
      </td>
    </tr>
  </ng-template>
</p-table>
