<app-error-dialog [error]="lastError" [server]="server()" (onRefresh)="refreshItems()" />

<p-dialog
  [(visible)]="chooseExportVisible"
  [dismissableMask]="true"
  [draggable]="false"
  [modal]="true"
  [resizable]="false"
  styleClass="w-6"
>
  <ng-template pTemplate="header">
    <app-icon-label
      [icon]="PrimeIcons.FILE_EXPORT"
      label="Choose collections export format"
      deepClass="p-dialog-title"
    />
  </ng-template>

  <ng-template pTemplate="content">
    <p-chips
      class="w-full"
      [(ngModel)]="taskItems"
      [autofocus]="true"
      [disabled]="taskItems.length === 1"
      (onFocus)="removeChipsInput($event)"
      styleClass="w-full"
    >
      <ng-template let-item pTemplate="item">
        <app-icon-label [icon]="PrimeIcons.TABLE" [label]="item.name" />
      </ng-template>
    </p-chips>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      (onClick)="chosenExportItems(ExportType.JSON)"
      badge="{;}"
      label="JSON"
      severity="primary"
    />
    <p-button
      [outlined]="true"
      (onClick)="chosenExportItems(ExportType.CSV)"
      badge="{,}"
      label="CSV"
      severity="secondary"
    />
  </ng-template>
</p-dialog>

<app-confirm-dialog
  [(items)]="taskItems"
  [headerIcon]="PrimeIcons.TIMES_CIRCLE"
  [itemIcon]="PrimeIcons.TABLE"
  key="delete"
  headerLabel="Confirm collections delete"
  itemField="name"
/>

<app-progress-dialog
  [cancelDisabled]="!lastRefresh"
  [server]="server()"
  [visible]="!task.closed && taskType === TaskType.Read"
  [headerIcon]="PrimeIcons.SPINNER"
  (onCancel)="cancelRefreshItems()"
  headerLabel="Loading collections..."
/>

<app-progress-dialog
  [datum]="taskDatum"
  [item]="taskItem"
  [progress]="taskCurrent"
  [progressIcon]="PrimeIcons.TRASH"
  [progressMax]="taskMax"
  [server]="server()"
  [visible]="!task.closed && taskType === TaskType.Delete"
  (onCancel)="cancelDeleteItems()"
  headerLabel="Deleting documents..."
/>

<p-contextMenu #context [model]="contextMenu" />

<p-table
  [(contextMenuSelection)]="contextItem"
  [(selection)]="selectedItems"
  [contextMenu]="context"
  [scrollable]="true"
  [sortOrder]="1"
  [value]="items"
  dataKey="name"
  scrollHeight="flex"
  sortField="name"
  styleClass="p-datatable-gridlines p-datatable-striped"
>
  <ng-template pTemplate="caption">
    <p-toolbar styleClass="border-noround-bottom">
      <ng-template pTemplate="left">
        <div class="container">
          <p-fileUpload
            [auto]="true"
            [chooseIcon]="PrimeIcons.DOWNLOAD"
            [customUpload]="true"
            (uploadHandler)="handleImportItems($event)"
            accept=".csv,.json"
            chooseLabel="Import"
            mode="basic"
          />
          <p-splitButton
            [buttonDisabled]="!selectedItems.length"
            [icon]="PrimeIcons.UPLOAD"
            [model]="exportMenu"
            (onClick)="chooseExportItems(ActionType.Select)"
            label="Export"
            severity="help"
          />
        </div>
      </ng-template>

      <ng-template pTemplate="center">
        <app-icon-label
          [icon]="PrimeIcons.DATABASE"
          label="Database: {{ server() }}"
          deepClass="header"
        />
      </ng-template>

      <ng-template pTemplate="right">
        <div class="container">
          <p-button [icon]="PrimeIcons.PLUS" disabled label="Add" severity="success" />
          <p-splitButton
            [buttonDisabled]="!selectedItems.length"
            [icon]="PrimeIcons.TRASH"
            [model]="deleteMenu"
            (onClick)="confirmDeleteItems(ActionType.Select)"
            label="Delete"
            severity="danger"
          />
          <p-splitButton [icon]="PrimeIcons.CLONE" disabled label="Clone" severity="info" />
        </div>
      </ng-template>
    </p-toolbar>

    <p-toolbar styleClass="border-noround-top">
      <ng-template pTemplate="left">
        <app-page-control
          [lastRefresh]="lastRefresh"
          [refreshOutlined]="true"
          (onRefresh)="refreshItems()"
        />
      </ng-template>

      <ng-template pTemplate="right">
        <div class="container">
          <p-inputGroup>
            <p-inputGroupAddon>
              <app-icon-label [icon]="PrimeIcons.SEARCH" />
            </p-inputGroupAddon>
            <input
              #search
              (input)="filterTable(search.value)"
              pInputText
              placeholder="Search collections..."
              type="text"
            />
            <button
              [disabled]="!search.value"
              [icon]="PrimeIcons.TIMES"
              (click)="clearSearch()"
              pButton
              severity="danger"
              type="button"
            ></button>
          </p-inputGroup>
          <p-button
            [icon]="PrimeIcons.FILTER_SLASH"
            [outlined]="true"
            (onClick)="resetTable()"
            label="Clear"
          />
        </div>
      </ng-template>
    </p-toolbar>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th class="w-1rem" pFrozenColumn>
        <p-tableHeaderCheckbox />
      </th>
      <th pFrozenColumn pSortableColumn="name">
        <app-icon-table-header [icon]="PrimeIcons.TABLE" label="Collection" sortField="name" />
      </th>
      <th pSortableColumn="length">
        <app-icon-table-header [icon]="PrimeIcons.HASHTAG" label="Objects" sortField="length" />
      </th>
      <th class="w-1rem" pSortableColumn="length">
        <app-icon-table-header
          [icon]="PrimeIcons.PERCENTAGE"
          label="Percentage"
          sortField="length"
        />
      </th>
    </tr>
  </ng-template>

  <ng-template let-item pTemplate="body">
    <tr [pContextMenuRow]="item" [pSelectableRow]="item">
      <td pFrozenColumn>
        <p-tableCheckbox [value]="item" />
      </td>
      <td pFrozenColumn>
        <p-button [label]="item.name" [link]="true" [routerLink]="item.name" styleClass="py-0" />
      </td>
      <td>
        {{ item.length | number }}
      </td>
      <td>
        {{ (item.length / itemsTotalLength) | percent }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="100%">
        <app-icon-label
          class="m-auto block w-fit"
          [icon]="PrimeIcons.SEARCH_MINUS"
          label="No collections"
          deepClass="header"
        />
      </td>
    </tr>
  </ng-template>
</p-table>
