<p-colorPicker [(ngModel)]="color" [hidden]="format !== ColorFormat.HEX" inline />
<p-colorPicker
  [(ngModel)]="colorRGB"
  [hidden]="format !== ColorFormat.RGB"
  [format]="ColorFormat.RGB"
  inline
/>
<p-colorPicker
  [(ngModel)]="colorHSB"
  [hidden]="format !== ColorFormat.HSB"
  [format]="ColorFormat.HSB"
  inline
/>
<p-inputGroup>
  <input [ngModel]="getValue()" readOnly type="text" pInputText placeholder="Color" />
  <button
    [icon]="PrimeIcons.WINDOW_MINIMIZE"
    (click)="colorPick.emit(getValue())"
    pButton
    type="button"
    severity="help"
  ></button>
</p-inputGroup>
<p-selectButton
  class="w-full"
  [(ngModel)]="format"
  [allowEmpty]="false"
  [options]="formatOptions"
  (onChange)="formatChanged()"
  styleClass="flex"
  optionLabel="0"
  optionValue="1"
/>
