<p-confirmDialog
  [dismissableMask]="true"
  [key]="key()"
  rejectButtonStyleClass="p-button-outlined"
  styleClass="w-6"
>
  <ng-template pTemplate="header">
    <app-icon-label [icon]="headerIcon()" [label]="headerLabel()" deepClass="p-dialog-title" />
  </ng-template>

  <ng-template pTemplate="message">
    <div class="container w-full">
      <p-chips
        class="w-full px-4"
        [autofocus]="true"
        [disabled]="items().length <= 1"
        [ngModel]="items()"
        (ngModelChange)="itemsChange.emit($event)"
        (onFocus)="removeChipsInput($event)"
        styleClass="w-full"
      >
        <ng-template let-item pTemplate="item">
          <app-icon-label [icon]="itemIcon()" [label]="item[itemField()]" />
        </ng-template>
      </p-chips>
      <ng-content />
    </div>
  </ng-template>
</p-confirmDialog>
