<p-toolbar styleClass="h-full py-0">
  <ng-template pTemplate="start">
    <p-breadcrumb [home]="home" [model]="navigationMenu">
      <ng-template let-item pTemplate="item">
        <p-tag [icon]="item.icon" [routerLink]="item.route" [value]="item.label" />
      </ng-template>
    </p-breadcrumb>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center">
      <p-buttonGroup class="w-full">
        <p-button [disabled]="scale === -2" (onClick)="decreaseScale()" icon="pi pi-minus" />
        <p-button [disabled]="true" [label]="scale.toString()" />
        <p-button [disabled]="scale === 2" (onClick)="increaseScale()" icon="pi pi-plus" />
      </p-buttonGroup>
      <p-divider layout="vertical" />
      <p-inputGroup>
        <button class="py-2" [disabled]="true" icon="pi pi-sun" pButton type="button"></button>
        <p-inputGroupAddon class="py-2">
          <p-inputSwitch
            [(ngModel)]="theme"
            [falseValue]="Theme.Light"
            [trueValue]="Theme.Dark"
            (onChange)="updateTheme()"
          />
        </p-inputGroupAddon>
        <button class="py-2" [disabled]="true" icon="pi pi-moon" pButton type="button"></button>
      </p-inputGroup>
    </div>
  </ng-template>
</p-toolbar>
