<p-toolbar styleClass="h-full py-0">
  <ng-template pTemplate="start">
    <p-breadcrumb class="py-2" [home]="home" [model]="navigationMenu">
      <ng-template let-item pTemplate="item">
        <p-tag [icon]="item.icon" [routerLink]="item.route" [value]="item.label" />
      </ng-template>
    </p-breadcrumb>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="align-items-center flex">
      <p-buttonGroup class="w-full">
        <p-button [disabled]="scale === -2" [icon]="PrimeIcons.MINUS" (onClick)="decreaseScale()" />
        <p-button [disabled]="true" [label]="scale.toString()" />
        <p-button [disabled]="scale === 2" [icon]="PrimeIcons.PLUS" (onClick)="increaseScale()" />
      </p-buttonGroup>
      <p-divider layout="vertical" />
      <p-inputGroup>
        <button
          class="py-2"
          [disabled]="true"
          [icon]="PrimeIcons.SUN"
          pButton
          type="button"
        ></button>
        <p-inputGroupAddon class="py-2">
          <p-inputSwitch
            [(ngModel)]="theme"
            [falseValue]="Theme.Light"
            [trueValue]="Theme.Dark"
            (onChange)="updateTheme()"
          />
        </p-inputGroupAddon>
        <button
          class="py-2"
          [disabled]="true"
          [icon]="PrimeIcons.MOON"
          pButton
          type="button"
        ></button>
      </p-inputGroup>
    </div>
  </ng-template>
</p-toolbar>
