<p-dialog
  [closable]="false"
  [draggable]="false"
  [visible]="visible()"
  modal
  styleClass="w-30rem"
  appendTo="body"
>
  <ng-template pTemplate="header">
    <app-icon-label
      [icon]="headerIcon()"
      [label]="headerLabel()"
      [spin]="true"
      deepClass="p-dialog-title"
    />
  </ng-template>

  <ng-template pTemplate="content">
    <div class="container flex-column">
      <app-page-info [server]="server()" [item]="item()" [datum]="datum()" [center]="true" />
      <div></div>
      @if (progress() && progressMax()) {
        <p-progressBar [value]="getProgressValue()" />
      } @else {
        <p-progressBar mode="indeterminate" />
      }
      @if (progressMax()) {
        <app-icon-label
          class="container flex-column align-items-center"
          [icon]="progressIcon()!"
          label="{{ progress() | number }} of {{ progressMax() | number }}"
        />
      }
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      [disabled]="cancelDisabled()"
      [icon]="PrimeIcons.TIMES"
      (onClick)="onCancel.emit()"
      label="Cancel"
      severity="danger"
    />
  </ng-template>
</p-dialog>
