<p-toast />

<p-dialog
  [closable]="false"
  [draggable]="false"
  [modal]="true"
  [visible]="state === State.Loading"
  contentStyleClass="w-30rem"
>
  <ng-template pTemplate="header">
    <app-icon-label
      [icon]="PrimeIcons.HOURGLASS"
      label="Loading collections..."
      styleClass="p-dialog-title"
    />
  </ng-template>

  <ng-template pTemplate="content">
    <div class="flex-column align-items-center container">
      <p-progressSpinner />
      <app-icon-label [icon]="PrimeIcons.DATABASE" label="Database: {{ server() }}" />
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      [disabled]="!lastRefresh"
      [icon]="PrimeIcons.TIMES"
      (onClick)="cancelRefresh()"
      label="Cancel"
      severity="danger"
    />
  </ng-template>
</p-dialog>

<p-dialog
  [closable]="false"
  [draggable]="false"
  [modal]="true"
  [visible]="state === State.Errored"
  contentStyleClass="w-30rem"
>
  <ng-template pTemplate="header">
    <app-icon-label
      [icon]="PrimeIcons.EXCLAMATION_TRIANGLE"
      label="An error occurred"
      styleClass="p-dialog-title"
    />
  </ng-template>

  <ng-template pTemplate="content">
    <div class="flex-column container">
      <app-icon-label [icon]="PrimeIcons.DATABASE" label="Database: {{ server() }}" />
      <div></div>
      <p-panel [collapsed]="true" [toggleable]="true" header="Error details">
        <ng-template pTemplate="content">
          <app-icon-label
            class="text-danger"
            [icon]="PrimeIcons.TIMES_CIRCLE"
            [label]="lastError.name"
          />
          <div class="pl-4">
            {{ lastError.message }}
          </div>
        </ng-template>
      </p-panel>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      [icon]="PrimeIcons.ARROW_LEFT"
      [outlined]="true"
      label="Back"
      routerLink="../"
      severity="secondary"
    />
    <p-button
      [icon]="PrimeIcons.REFRESH"
      (onClick)="refreshItems()"
      label="Refresh"
      severity="primary"
    />
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="chooseExportVisible"
  [dismissableMask]="true"
  [draggable]="false"
  [modal]="true"
  [resizable]="false"
  styleClass="w-6"
>
  <ng-template pTemplate="header">
    <app-icon-label
      [icon]="PrimeIcons.FILE_EXPORT"
      label="Choose collections export format"
      styleClass="p-dialog-title"
    />
  </ng-template>

  <ng-template pTemplate="content">
    <p-chips
      class="w-full"
      [(ngModel)]="exportItems"
      [autofocus]="true"
      [disabled]="exportItems.length === 1"
      (onFocus)="removeChipsInput($event)"
      styleClass="w-full"
    >
      <ng-template let-item pTemplate="item">
        <app-icon-label [icon]="PrimeIcons.TABLE" [label]="item.name" />
      </ng-template>
    </p-chips>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      (onClick)="chosenExportItems(ExportType.JSON)"
      badge="{;}"
      label="JSON"
      severity="primary"
    />
    <p-button
      [outlined]="true"
      (onClick)="chosenExportItems(ExportType.CSV)"
      badge="{,}"
      label="CSV"
      severity="secondary"
    />
  </ng-template>
</p-dialog>

<p-confirmDialog
  [dismissableMask]="true"
  [icon]="PrimeIcons.TRASH"
  acceptButtonStyleClass="p-button-danger"
  acceptLabel="Delete"
  rejectButtonStyleClass="p-button-outlined"
  rejectLabel="Cancel"
  styleClass="w-6"
>
  <ng-template pTemplate="header">
    <app-icon-label
      [icon]="PrimeIcons.MINUS_CIRCLE"
      label="Confirm collections delete"
      styleClass="p-dialog-title"
    />
  </ng-template>

  <ng-template pTemplate="message">
    <p-chips
      class="w-full px-4"
      [(ngModel)]="deleteItems"
      [autofocus]="true"
      [disabled]="deleteItems.length === 1"
      (onFocus)="removeChipsInput($event)"
      styleClass="w-full"
    >
      <ng-template let-item pTemplate="item">
        <app-icon-label [icon]="PrimeIcons.TABLE" [label]="item.name" />
      </ng-template>
    </p-chips>
  </ng-template>
</p-confirmDialog>

<p-contextMenu #context [model]="contextMenu" />

<p-table
  [(contextMenuSelection)]="contextItem"
  [(selection)]="selectedItems"
  [contextMenu]="context"
  [loading]="state === State.Loading"
  [scrollable]="true"
  [sortOrder]="1"
  [value]="items"
  dataKey="name"
  scrollHeight="flex"
  sortField="name"
  styleClass="p-datatable-gridlines p-datatable-striped"
>
  <ng-template pTemplate="caption">
    <p-toolbar styleClass="border-noround-bottom">
      <ng-template pTemplate="start">
        <div class="container">
          <p-fileUpload
            [auto]="true"
            [chooseIcon]="PrimeIcons.DOWNLOAD"
            [customUpload]="true"
            (uploadHandler)="handleImportItems($event)"
            accept=".csv,.json"
            chooseLabel="Import"
            mode="basic"
          />
          <p-splitButton
            [buttonDisabled]="!selectedItems.length"
            [icon]="PrimeIcons.UPLOAD"
            [model]="exportMenu"
            (onClick)="chooseExportItems(ActionType.Selection)"
            label="Export"
            severity="help"
          />
        </div>
      </ng-template>

      <ng-template pTemplate="center">
        <app-icon-label
          [icon]="PrimeIcons.DATABASE"
          label="Database: {{ server() }}"
          styleClass="header"
        />
      </ng-template>

      <ng-template pTemplate="end">
        <div class="container">
          <p-button [disabled]="true" [icon]="PrimeIcons.PLUS" label="Add" severity="success" />
          <p-splitButton
            [buttonDisabled]="!selectedItems.length"
            [icon]="PrimeIcons.TRASH"
            [model]="deleteMenu"
            (onClick)="confirmDeleteItems(ActionType.Selection)"
            label="Delete"
            severity="danger"
            tooltip="All documents in selected collections will be deleted"
          />
          <p-splitButton
            [disabled]="true"
            [icon]="PrimeIcons.CLONE"
            label="Clone"
            severity="info"
          />
        </div>
      </ng-template>
    </p-toolbar>

    <p-toolbar styleClass="border-noround-top">
      <ng-template pTemplate="left">
        <div class="container">
          <p-button
            [icon]="PrimeIcons.ARROW_LEFT"
            [outlined]="true"
            label="Back"
            routerLink="../"
            severity="secondary"
          />
          <div
            class="select-none"
            [badgeDisabled]="!lastRefresh"
            [severity]="getRefreshSeverity()"
            [value]="(lastRefresh | date:'shortTime')!"
            pBadge
          >
            <p-button
              [icon]="PrimeIcons.REFRESH"
              [outlined]="true"
              (onClick)="refreshItems()"
              label="Refresh"
            />
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="right">
        <div class="container">
          <p-inputGroup>
            <p-inputGroupAddon>
              <app-icon-label [icon]="PrimeIcons.SEARCH" />
            </p-inputGroupAddon>
            <input
              #search
              (input)="filterTable(search.value)"
              pInputText
              placeholder="Search..."
              type="text"
            />
            <button
              [disabled]="!search.value"
              [icon]="PrimeIcons.TIMES"
              (click)="clearSearch()"
              pButton
              severity="danger"
              type="button"
            ></button>
          </p-inputGroup>
          <p-button
            [icon]="PrimeIcons.FILTER_SLASH"
            [outlined]="true"
            (onClick)="resetTable()"
            label="Clear"
          />
        </div>
      </ng-template>
    </p-toolbar>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th class="w-1rem" pFrozenColumn>
        <p-tableHeaderCheckbox />
      </th>
      <th pFrozenColumn pSortableColumn="name">
        <app-icon-table-header [icon]="PrimeIcons.TABLE" label="Collection" sortField="name" />
      </th>
      <th pSortableColumn="length">
        <app-icon-table-header [icon]="PrimeIcons.HASHTAG" label="Objects" sortField="length" />
      </th>
      <th class="w-1" pSortableColumn="length">
        <app-icon-table-header
          [icon]="PrimeIcons.PERCENTAGE"
          label="Percentage"
          sortField="length"
        />
      </th>
    </tr>
  </ng-template>

  <ng-template let-item pTemplate="body">
    <tr [pContextMenuRow]="item" [pSelectableRow]="item">
      <td pFrozenColumn>
        <p-tableCheckbox [value]="item" />
      </td>
      <td pFrozenColumn>
        <p-button [label]="item.name" [link]="true" [routerLink]="item.name" styleClass="py-0" />
      </td>
      <td>
        {{ item.length | number }}
      </td>
      <td>
        {{ (item.length / itemsTotalLength) | percent }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="100%">
        <app-icon-label
          class="m-auto block w-fit"
          [icon]="PrimeIcons.SEARCH_MINUS"
          label="No collection found"
          styleClass="header"
        />
      </td>
    </tr>
  </ng-template>
</p-table>
