html {
  font-size: 12px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

th {
  white-space: nowrap;
}

td {
  max-width: 25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
