body {
  margin: 0;
}

th {
  white-space: nowrap;
}

td {
  max-width: 25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-danger {
  color: var(--red-500);
}

.header {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  display: flex;
  gap: 0.5rem;
}

.flex-content {
  flex-grow: 1;
  height: 0;
}

.animation-direction-alternate {
  animation-direction: alternate;
}

.animation-direction-alternate-reverse {
  animation-direction: alternate-reverse;
}
